@import url('https://fonts.googleapis.com/css?family=Schoolbell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@font-face {font-family: Arctika;src: url('https://v01na.github.io/font/Arctika_Script.otf');}
::-webkit-scrollbar{width: 0;}
