@import url('https://fonts.googleapis.com/css?family=Schoolbell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@font-face {font-family: Arctika;src: url('https://github.com/RU2058228C1/RU2058228C1.GITHUB.IO/blob/main/css/Arctika_Script.otf');}
